<app-navbar></app-navbar>
<div class="container">
  <form action="/action_page.php">
    <label for="fname">Nombre</label>
    <input type="text" id="fname" name="firstname" placeholder="Tu nombre..">

    <label for="lname">Apellido</label>
    <input type="text" id="lname" name="lastname" placeholder="Tu Apellido..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Email..">


    <label for="subject">Sujeto</label>
    <textarea id="subject" name="subject" placeholder="Escriba su petición.." style="height:200px"></textarea>

    <input type="submit" value="Enviar">
  </form>
</div>
