<div class="signIn pb-5">
    <div class="container">
        <h1 class="text-center pt-5 pb-3">Crear Evento</h1>

        <form class="form p-3 shadow " autocomplete="off" [formGroup]="FormNewEvent" (ngSubmit)="createEvent()">
            <div class="form-group">
                <label class="d-flex justify-content-center">Nombre</label>
                <input 
                    type="text" 
                    class="form-control"
                    placeholder="Introduce tu nombre"
                    formControlName="name" 
                    [class.is-invalid]="invalidName"
                    [class.is-valid]="validName"
                >
                <small *ngIf="invalidName" class="form-text text-danger">Debes introducir un nombre para tu evento</small>
            </div>
            <div class="form-group">
                <label class="d-flex justify-content-center text-light">Descripcion</label>
                <textarea 
                    type="textarea" 
                    class="form-control"
                    placeholder="Introduce una descripción del evento"
                    formControlName="description"
                    [class.is-invalid]="invalidDescription"
                    [class.is-valid]="validDescription"
                
                ></textarea>
            <small *ngIf="invalidDescription" class="form-text text-danger ">Debes introducir una descripción</small>
            </div>
            <div class="form-group">
                <label class="d-flex justify-content-center text-light">Aforo máximo</label>
                <input 
                    type="number" 
                    class="form-control"
                    placeholder="Introduce un aforo máximo"
                    formControlName="capacity"
                    [class.is-invalid]="invalidCapacity"
                    [class.is-valid]="validCapacity"
                >
            <small *ngIf="invalidCapacity" class="form-text text-danger ">Debes introducir un aforo máximo</small>
            </div>
            <div class="form-group">
                <label class="d-flex justify-content-center text-light">Hora del evento</label>
                <input
                    type="text" 
                    class="form-control"
                    placeholder="Introduce hora de comienzo"
                    formControlName="time"
                    [class.is-invalid]="invalidHour"
                    [class.is-valid]="validHour"
                >
            <small *ngIf="invalidHour"  class="form-text text-danger">Debes introducir una hora válida</small>
            </div>
            <div class="form-group">
                <label class="d-flex justify-content-center text-light">Duración aproximada</label>
                <input
                    type="text" 
                    class="form-control"
                    placeholder="Introduce una duración aproximada del evento"
                    formControlName="duration"
                    [class.is-invalid]="invalidDuration"
                    [class.is-valid]="validDuration"
                  
                >
            <small *ngIf="invalidDuration" class="form-text text-danger">Debes introducir una duración aproximada</small>
            </div>
            <div class="form-group">
                <p class="d-flex justify-content-center text-light">Tipo de evento</p>
                <div class="d-flex justify-content-center flex-wrap align-items-center">
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="type" value="Deporte de equipo">
                        <label class="form-check-label text-light pl-1">Deporte de equipo</label>
                    </div>
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="type" value="Aerobico">
                        <label class="form-check-label text-light pl-1">Aerobico</label>
                    </div>
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="type" value="Fuerza">
                        <label class="form-check-label text-light pl-1">Fuerza</label>
                    </div>
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="type" value="Cardio">
                        <label class="form-check-label text-light pl-1">Cardio</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-flex justify-content-center text-light">Dia</label>
                <input
                    type="date" 
                    class="form-control"
                    placeholder="Introduce tu teléfono"
                    formControlName="day"
                    [class.is-invalid]="invalidDay"
                    [class.is-valid]="validDay"
                >
            <small *ngIf="invalidDay"  class="form-text text-danger">Debes introducir un día</small>
            </div>
            <div class="form-group">
                <p class="d-flex justify-content-center text-light">Ubicación</p>
                <div class="d-flex justify-content-center flex-wrap align-items-center">
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="place" value="online">
                        <label class="form-check-label text-light pl-1">Online</label>
                    </div>
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="place" value="barcelona">
                        <label class="form-check-label text-light pl-1">Barcelona</label>
                    </div>
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="place" value="valencia">
                        <label class="form-check-label text-light pl-1">Valencia</label>
                    </div>
                    <div class="form-check my-2 ">
                        <input type="radio" formControlName="place" value="madrid">
                        <label class="form-check-label text-light pl-1">Madrid</label>
                    </div>
                </div>
            </div>
            <button type="submit"  class="btn btn-primary btn-block mb-5">Crear Evento</button>
        </form>
    </div>
</div>
