<section class="merchandising pt-5 pb-5">
    <div class="container"> 
        <div class="d-flex justify-content-around flex-wrap">
            <div *ngFor="let product of catalogo" class="card product-card mb-3">
                <div>
                    <!-- <img class="fotoProducto" src={{product.image}} alt="">
                    <p>{{product.product}}</p> 
                    <p>{{product.price}} €</p>
                 -->
                </div>
            </div>
        </div>
    </div>
</section>
