.signIn {
    background-image:url('../../../assets/cancha.png');
    height: 100vh;
    
}

.login__background{
    background-color:var(--black);
}
.form {
    border: 2px solid grey;
    border-radius:1rem;
    /* background-color: white; */
}

.esconder {
    display: hidden;
}

.registrate {
    color: var(--white);
}