<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">ConFIT19 es una empresa dedicada al servicio del bien estar a través de la actividad física. Queremos apostar por aquellos municipios y personas cualificadas para llevar a cabo este proyecto. Puedes hacer ejercicio desde tu casa o localizar una actividad que organiza cualquier localidad cercana a ti!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a routerLink="/presenciales">Actividades Presenciales</a></li>
            <li><a routerLink="/online">Actividades Online</a></li>
            <li><a  href="#">Merchandising</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Otros Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/info">Información</a></li>
            <li><a routerLink="/contact">Contacto</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Confit19</a>.
          </p>
        </div>

      </div>
    </div>
</footer>
