<app-navbar></app-navbar>
<section class="event pb-5">
    <div class="container">
        <h1 class="text-center py-5">{{event.name}}</h1>
        <div class="d-flex justify-content-around">
            <p>Descripción: {{event.description}}</p>
            <div>
                <p>Aforo máximo: {{event.capacity}}</p>
                <p>Ubicación: {{event.place}}</p>
                <p>Duración aproximada: {{event.time}}</p>
                <p>Edad recomendad: {{event.age}}</p>
                <p>Tipo de actividad: {{event.type}}</p>
            </div>
        </div>
    </div>
    <div class="eltiempo">
        <div class="container">
            <p>temperatura:{{weather.main.temp}} </p>
            <p>temperatura: {{weather.weather[0].description}} </p>
            <img src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png">
        </div>
    </div>
</section>
