<app-navbar></app-navbar>
<section class="home pb-5">
    <div class="container">
        <div class="landing">
            <h1 class="pt-3 landing__title">conFit 19</h1>
            <p class="landing__description">Confit es la plataforma donde encontrás eventos para mantenerte en forma durante la cuarentena.</p>
        </div>
        <a routerLink="/login" class="btn btn-light btn-home">Log in</a>
        <a routerLink="/registro" class="btn btn-light btn-home ml-3">Registro</a>
    </div>
</section>
<section class="events">
</section>
<section class="merch" id="merchandising">
   
    <app-merchandising></app-merchandising>

</section>
<app-footer></app-footer>

