
<section class="home">
    <div class="container">
        <div class="landing">
            <h1 class="pt-3 landing__title">conFit 19</h1>
            <p class="landing__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia officia, provident corporis et sit vel sunt eaque, quis itaque voluptate saepe consequatur. Et tempora pariatur iure, molestias suscipit dolore repudiandae!</p>
        </div>
        <a class="btn btn-light">Log in</a>
        <a routerLink="/registro" class="btn btn-light ml-3">Registro</a>
    </div>
</section>
<section class="events">
    <app-merchandising></app-merchandising>
</section>
<section class="merch">
   
</section>

