.organizator {
    background-image: url('../../../assets/tenis.png');
    background-size: cover;
    /* background-position: bottom; */
    color:var(--white);
}

.organizator__titles {
    text-shadow: 3px 2px 3px var(--black);
}

.miseventos {
    background-color: var(--black);
    min-height: 100vh;
    
}

.miseventos h2 {
    color: var(--white);
}