.actividades__presenciales {
    background-image:url('../../../assets/cancha.png');
    background-position: center;
    height: 100%;
}

.ficha {
    width: 18rem;
}
.ficha:hover{
    width: 19rem;
}