
.fotoProducto {
    width: 10rem;
    height: 10rem;
}

.merchandising {
    background-color:var(--black);
}

.product-card{
    width: 30rem;
    text-align: center;
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    padding:1rem;
}
.leter{
    color: #ffffff;
    text-align: center;
}