<section class="merchandising pt-5 pb-5">
    <div class="container"> 
        <div class="d-flex justify-content-around flex-wrap" data-aos="fade-up">
            <div class="split left">
                <div>
                  <img src="../../../assets/merchan/15858177838068.jpg" routerLink="/online" class="product-card">
                  <h2 class="leter">Eventos online</h2>
                  
                </div>
              </div>
              
              <div>
                <div class="centered">
                  <img src="../../../assets/merchan/993841.jpg" routerLink="/presenciales" class="product-card">
                  <h2 class="leter">Eventos Presenciales</h2>
                </div>
              </div>

        </div>
    </div>
</section>

