/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Cabin', sans-serif;
}

/* colores */

:root {
    --black: #15202b;
    --blue: #1a90da;
    --lightBlue:#1da0f2;
    --green:#17bf63;
    --red:#e02460;
    --grey:#8899a6;
    --white:#ffffff;
  }