<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal">ConFit19</p>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" routerLink="/presenciales">Actividades Presenciales</a>
      <a class="p-2 text-dark" routerLink="/online">Actividades Online</a>
      <a class="p-2 text-dark" href="#merchandising">Merchandising</a>
      <a class="p-2 text-dark" routerLink="/info">Info</a>
      <a class="p-2 text-dark"  routerLink="/usuario">Mis Area</a>
    </nav>
  </header>
